<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/webBuildr.png">
    <link rel="stylesheet" href="style.css">
    <title>WebBuildr</title>
</head>
<body>
    <main>
        <!-- Header Section -->
        <header class="landing-header">
        <nav class="landing-nav">
          <div class="logo">
            <img src="./images/nav/logo.svg" alt="" />
          </div>
          <ul class="landing-navList">
            <li class="landing-nav-listItem">Product <span>
                <div class="dropdown-arrow">
                    <img src="./images/nav/downArrow.svg" alt="" />
                </div>
            </span> </li>
            <li class="landing-nav-listItem">Resource <span>
                <div class="dropdown-arrow">
                    <img src="./images/nav/downArrow.svg" alt="" />
                </div></li>
            <li class="landing-nav-listItem">Template</li>
            <li class="landing-nav-listItem">Hire an expert</li>
          </ul>
          <div class="landing-nav-action-btns">
            <div class="landing-nav-login">
              <a href="" class="landing-nav-login-link">LOG IN</a>
            </div>
            <button class="landing-nav-btn-primary-large">
              <a class="getting-started-link" href="">GET STARTED</a>
            </button>
          </div>
        </nav>

        <!-- hero section -->
        heujiheun

      </header>
      
        <!-- Another Section -->
        <section class="sample-container">
            <div class="sample-wrapper">
                <h1 class="sample-text-h1">create a website in less than an hour</h1>
                <p class="sample-text-p">Check out mind-blowing templates all made with webBuildr. we’ve taken the stress off you, choose a template and make an easy build</p>
            </div>
        </section>

       <!-- Gallery -->
        <section class="gallery">
            <div class="one">
            <div class="one-one">
                <img 
                class="image-1" 
                src="./images/gallery/Desktop - 13.png" alt="">
                <img 
                class="image-2" 
                src="./images/gallery/iPad Pro 11_ - 7.png" alt="">
            </div>
            <img 
            class="image-3" 
            src="./images/gallery/MacBook Pro 16_ - 2.png" alt="">
        </div>

        <div class="two">
            <img
            class="image-4" 
            src="./images/gallery/Screenshot (9).png" alt="">
            <img
            class="image-5" 
            src="./images/gallery/iPad Pro 11_ - 4.png" alt="">
        </div>

        <div class="three">
            <img 
            class="image-6" 
            src="./images/gallery/Desktop - 15.png" alt="">
            <img  
            class="image-7"
            src="./images/gallery/Desktop - 26.png" alt="">
        </div>

        <div class="four">
            <img 
            class="image-8" 
            src="./images/gallery/iPad Pro 11_ - 6.png" alt="">
            <img class="image-9" 
            src="./images/gallery/Screenshot (9).png" alt="">
        </div>

        <div class="five">
            <img class="image-10" 
            src="./images/gallery/Desktop - 7.png" alt="">
            <img 
            class="image-11" 
            src="./images/gallery/iPad Pro 11_ - 4 (1).png" alt="">
        </div>
        </section>
        <!-- Portfolio -->
        <section class="portfolio__section">
            <div class="portfolio__container">
                <div class="portfolio__row">
                    <div class="portfolio__img">
                        <img src="./images/portfolio/portfolio.png" alt="Portfolio Image">
                    </div>
                    <div class="portfolio__text">
                        <h2 class="portfolio__h2">Portfolio</h2>
                        <p>Made with WebBuildr. create your portfolio today on a click</p>
                        <div class="portfolio__text-link">
                            <a href="#">View Template</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__row-reverse">
                    <div class="portfolio__img">
                        <img src="./images/portfolio/web-3.png" alt="Web 3 Image">
                    </div>
                    <div class="portfolio__text">
                        <h2 class="portfolio__h2">Web3</h2>
                        <p>Made with WebBuildr. create your portfolio today on a click</p>
                        <a href="#">View Template</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services -->
        <!-- Testimonials -->
        <section class="testimonial__section">
            <div class="testimonial__container">
                <h2 class="testimonial__h2">See what other users are saying about us</h2>
                <div class="testimonial__card-wrapper">
                    <div class="testimonial__card">
                        <div class="testimonial__card-image">
                            <img src="./images/testimonials/testimonial_1.png" alt="">
                        </div>
                        <div class="testimonial__card-body">
                            <p class="testimonial__card-text-p">The tutorial videos are helpful and time worthy. I really enjoyed.</p>
                            <hr class="testimonial__hr">
                            <h4 class="testimonial__h4">Precious Develope</h4>
                        </div>
                    </div>
                    <div class="testimonial__card">
                        <div class="testimonial__card-image">
                            <img src="./images/testimonials/testimonial_2.png" alt="">
                        </div>
                        <div class="testimonial__card-body">
                            <p class="testimonial__card-text-p">WebBuildr is truly the fastest and easiest website builder.You have a nice interface i must say.</p>
                            <hr class="testimonial__hr">
                            <h4 class="testimonial__h4">Dev Matthew</h4>
                        </div>
                    </div>
                    <div class="testimonial__card">
                        <div class="testimonial__card-image">
                            <img src="./images/testimonials/testimonial_3.png" alt="">
                        </div>
                        <div class="testimonial__card-body">
                            <p class="testimonial__card-text-p">The tutorial videos are helpful and time worthy. I really enjoyed.</p>
                            <hr class="testimonial__hr">
                            <h4 class="testimonial__h4">Elon Musk</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Partners -->
        <section class="partners__section">
            <div class="partners__images-container">
                <img src="./images/partners/Halfday.svg" alt="">
                <img src="./images/partners/BBC.svg" alt="">
                <img src="./images/partners/Qapital.svg" alt="">
                <img src="./images/partners/Big Fish Games (black).svg" alt="">
                <img src="./images/partners/PayPal (black).svg" alt="">
                <img src="./images/partners/Kroma.svg" alt="">
                <img src="./images/partners/Made.svg" alt="">
            </div>
            <h3 class="partners__h3">Our Partners</h3>
        </section>
        <!-- Call To Action -->
        <section class="call-to-action__section">
            <div class="call-to-action__container">
                <h2 class="call-to-action__h2">yup!!! you are in the right place</h2>
                <p class="call-to-action__p">WebBuildr enables you to create,edit,collaborate on, publish and store digital content without the help of developers. You do not need a technical skill or knowledge, it’s all made easy using WebBuildr the fastest way to kick start a managable future.</p>
                <a href="#" class="call-to-action-btn">Create a website for free</a>
            </div>
        </section>

        
        <!-- FQA -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col">
                    <h3>Product</h3>
                    <p>Designer</p>
                    <p>Enterprise</p>
                    <p>CMS</p>
                    <p>Editor</p>
                    <p>SEO</p>
                    <p>Security</p>
                </div>
                <div class="col">
                    <h3>Community</h3>
                    <p>Help Center</p>
                    <p>About</p>
                    <p>Terms of Service</p>
                    <p>Cookie Policy</p>
                    <p>Cookie Preference</p>
                </div>
                <div class="col">
                 <h3>Features</h3>
                 <p>Template</p>
                 <p>Hosting</p>
                 <p>Interaction</p>
                 <p>Logo Maker</p>
                </div>
                 <div class="col">
                    <h3>Follow</h3>
                    <p>Twitter</p>
                    <p>Instagram</p>
                    <p>Linkedin</p>
                    <p>Facebook</p>
                </div>
                <div class="col">
                 <h3>Resources</h3>
                 <p>Tutorial videos</p>
                 <p>Portfolio</p>
                 <p>Hire an expert</p>
                 <p>upcoming webinar</p>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>
