* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-grid {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
}

.sigin-information {
  background: #e4e8f3;
  padding: 2rem;
}

.signin-gridbox {
  width: 50%;
}

.grid-logo {
  width: 100%;
  margin-bottom: 2rem;
}

.signin-wrapper {
  width: 100%;
  padding: 0 3rem;
}

.signin-title {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.signin-title h2 {
  font-family: "Campton";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.google-sign-in {
  width: 100%;
  margin: 3rem 0 1rem;
  border-radius: 5px;
  border: 1px solid #aaacaf;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  width: 100%;
  text-align: center;
  /* margin-top: 2rem; */
  font-family: "Campton";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #9a9ea5;
}

.signin-body {
  width: 100%;
  margin-top: 2rem;
}

.signin-form {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9a9ea5;
  padding: 10px;
  font-family: "Campton";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #e4e8f3;
}

.form-control:focus {
  outline: none;
  color: #000000;
}

.form-control::placeholder {
  color: #000000;
}

.form-group-btn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #242653;
  border-radius: 8px;
}

.signin-btn {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9a9ea5;
  padding: 10px;
  font-family: "Campton";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #242653;
}

.signin-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.signin-options a {
  font-family: "Campton";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}

.signin-svg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.girl-svg-wrap{
    width: 450px;
    height: 500px;
}

.girl-svg-img{
    width: 100%;

}