

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn {
    padding: 15px 30px;
    width: 175px;
    height: 56px;
    background: #D5D5E0;
    border: 1.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 75px 50px rgba(74, 72, 72, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn i {
    Width: 17.92px;
    Height: 16.08px;
    color: #090914;
    margin-right: 9px;
}
.btn p {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 15px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex .logo {
    width: 200px;
    height: auto;
    margin-right: 46px;
}

.flex .links a {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 24px;
}

hr {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #000000;
    margin-bottom: 24px;
}

.cat__container {
    max-width: 1008px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
.cat__item {
    cursor: pointer;
}

.cat__item:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.cat__item img {
    border-radius: 16px;
}

.cat__item h3 {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-left: 5px;
}

.topic {
    margin-top: 100px;
    margin-bottom: 74px;
}
.topic .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
}

.wrapper h2 {
    margin-top: -20px;
    margin-bottom: 16px;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.topic__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topics {
    display: flex;
    flex-direction: column;
    margin-right: 36px;
}

.topics a {
    margin-bottom: 16px;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #090914;
}

.templates {
    margin-bottom: 60px;
}

.templates h2 {
    margin-bottom: 31px;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #090914;
}

.template__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 55px;
}

.template__item {
    width: 350.17px;
    height: 536px;
    border-radius: 10px;
}

.template__item img {
    border-radius: 10px;
    cursor: pointer;
    opacity: .9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 75px 50px rgba(74, 72, 72, 0.1));
    /* added ------------------------------------------- */
    position: absolute;
}   

.template__item:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

/* hover on template images */
.image__overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: inherit;
}
.image__overlay:hover{ 
    opacity: 1;
}

.image__description{
    font-size: 2em;
    /* margin-top: 0.25em; */
}
.tea{
    color: white;
}
.tea:hover{
    text-decoration: underline;
}
/*  End  */

.templates__item-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

/* Footer section */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #2B2E63;
    color: #fff;
    line-height: 30px;
    padding: 100px 0 30px;
  }

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col h3 {
    width: auto;
    height: 5px;
    margin-bottom: 40px;
    position: relative;
}

a{
    display: inline-block;
    background: var(--blue);
    color: #fff;
}
  /* End of footer styling */

/* MOBILE HERO */


/* MOBILE HERO */
.mobile__hero h2 {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.mobile__footer {
    display: none;
}

@media screen and (max-width: 768px) {
    .cat__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .template__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 420px) {
    .categories,
    .topic,
    .links,
    .hr-1,
    footer .row
    {
        display: none;
    }

    .container {
        width: 343px;
        margin: 0 auto;
    }

    header .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile__menu i {
        font-size: 45px;
        font-weight: bold;
        color: #090914;
    }

    .mobile__hero {
        display: block;
    }

    .mobile__hero-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .bar {
        height: 40px;
        border: 1px solid #000000;
        margin-left: 20px;
    }

    .favorite {
        padding: 10px 20px;
    }

    .mobile__hero-btn {
        padding: 15px 30px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ACAEB6;
    }

    .mobile__hero-btn a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .mobile__hero-btn i {
        font-size: 20px;
        font-weight: bolder;
        color: #090914;
        margin-right: 9px;
    }

    .mobile__hero-btn span {
        font-family: 'Campton';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #090914;
    }

    .template__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mooblie__footer {
        display: block;
        background: #2B2E63;
    }

    .footer__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid rgba(206, 209, 218, 0.5);
    }

    .footer__item h3 {
        font-family: 'Campton';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #D5D5E0;
        text-transform: uppercase;
    }

    .footer__item i {
        font-size: 20px;
        font-weight: bolder;
        color: #D5D5E0;
    }

    .footer__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__btn a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 37px;
        margin-top: 48px;
        padding: 8px;
        border: 1px solid #D2D9EC;
    }

    .mobile__footer {
        margin-top: -50px;
    }

    .footer__btn a span {
        font-family: 'Campton';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #D5D5E0;
        text-transform: uppercase;
        margin-right: 19px;
    }

    .footer__btn a:hover {
        border: 1px solid #2B2E63;;
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}