<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Welcome back" />
    <link rel="icon" type="image/x-icon" href="../images/webBuildr.png">

    <meta name="keywords" content="signin, signup, login, register" />
    <link
      rel="stylesheet"
      href="../webkit-campton/camptonextrabold-webfont.woff"
    />
    <link rel="stylesheet" href="./sign.css" />
    <title>Sign In</title>
  </head>
  <body>
    <main>
      <div class="sign-grid">
        <div class="sigin-information signin-gridbox">
          <div class="grid-logo">
            <img src="../images/nav/logo.svg" alt="logo" />
          </div>
          <div class="signin-wrapper">
            <div class="signin-title">
              <h2>Log Into My Account</h2>
            </div>
            <div class="google-sign-wrapper">
              <div class="google-sign-in">
                <a href="#"
                  ><img src="./assets/google-logo.svg" alt="google-logo"
                /></a>
              </div>
              <p class="or">or</p>
            </div>
            <div class="signin-body">
              <form action="" method="" class="signin-form">
                <div class="form-group">
                  <input type="text" class="form-control" 
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email or username"
                  />
                </div>
                <div class="form-group">
                  <input class="form-control"
                    type="password"
                    name="password"
                    id="password" autocomplete="on"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group-btn">
                  <button type="submit" value="Sign In" class="signin-btn">
                    Log In
                  </button>
                </div>
              </form>
            </div>
            <div class="signin-options">
              <p>
                <a href="#">Don't Have an Account?</a>
              </p>
              <p>
                <a href="#">Forgot password?</a>
              </p>
            </div>
          </div>
        </div>
        <div class="signin-svg signin-gridbox">
          <div class="girl-svg-wrap">
            <img src="./assets/girl.svg" alt="Girl Svg" class="girl-svg-img" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
