{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'blog_images/webBuildr.png' %}">
        <link rel="stylesheet" href="{% static 'css/clady.css' %}">
        <title>WebBuildr</title>
    </head>
    <body>
        <main>
          <!-- <header> -->
            <header>
                <nav class="navbar">
                    <div class="back">
                        <p onclick="Back()">Back</p>
                        <div class="destop">
                            <img src="{% static 'blog_images/destop.png' %}" alt="">
                        </div>
                        <div class="tablet">
                            <img src="{% static 'blog_images/tablet.png' %}">
                        </div>
                        <div class="phone">
                            <img src="{% static 'blog_images/phone.png' %}">
                        </div>
                    </div>
        
                    <div class="nav-btns">
                        <button> <a href="#">Start with this Design</a></button>
                    </div>
                </nav>
            </header>
    <!-- </header> -->
        <section>

            <div class="rectangle">
    
                <nav class="rectangle2">
                    <div class="rectangle3"></div>

                    <div class="rectangle1"></div>

                    <!--blog section-->
                    <div class="logo">
                        <img src="{% static 'blog_images/rectangle24.jpg' %}" alt="" />
                    </div>
                    <div class="share">
                        <h3>Share my world with Me</h3>
                    </div>

                    <div class="picture">
                        <h4>.. in pictures </h4>
                    </div> 

                    <div class="lastest"><p><a href="#">View Lastest Posts</a></p></div>

                    <div class="rectangle4"></div>

                    <div class="row">
                        <div class="col">
                            <p><a href="#">FOOD</a></p>
                        </div>
                        <div class="col">
                            <p><a href="#">FASHION</a></p>
                        </div>
                        <div class="col">
                            <p><a href="#">PHOTOGRAPHY</a></p>
                        </div>
                         <div class="col">
                            <p><a href="#">TRAVEL</a></p>
                        </div>

                        <!--beging of feature post-->
                        <div class="featured">
                            <p>Featured Posts </p>
                            <hr>
                        </div> 

                        <!--beging of food cravings-->

                        <div class="food">
                            <img src="{% static 'blog_images/craving.jpg' %}" alt="" />
                        </div>

                        <div class="rec_food"><p><a href="#">FOOD</a></p></div>

                        <div class="cravings">
                            <p>CRAVINGS</p>
                        </div>

                        <div class="calories">
                            <p>Do calories count?</p>
                        </div>

                        <div class="anna">
                            <img src="{% static 'blog_images/anna.jpg' %}" alt="" />
                            <h4>ANNA BRIAN</h4>
                            <p>July 25, 2021</p>
                        </div>

                        <!--End of food cravings-->

                        <!--beging of travel-->

                        <div class="travel">
                            <img src="{% static 'blog_images/scenery.jpg' %}" alt="" />
                        </div>

                        <div class="rec_travel"><p><a href="#">TRAVEL</a></p></div>

                        <div class="scenery">
                            <p>SCENERY</p>
                        </div>

                        <div class="color">
                            <p>Blue or Gray?</p>
                        </div>

                        <div class="ben">
                            <img src="{% static 'blog_images/ben.png' %}" alt="" />
                            <h4>BEN PAUL</h4>
                            <p>July 25, 2021</p>
                        </div>

                        <!--End of travel-->
                        <!--end of feature post-->

                        <!--beging of most recent post-->

                        <div class="recent">
                            <p>Most Recent </p>
                            <hr>
                        </div> 

                        <!--beging of section 1-->

                        <div class="rec_fas"></div>

                        <div class="fashion">
                            <img src="{% static 'blog_images/wedding.jpg' %}" alt="" />
                        </div>

                        <div class="rec_fashion"><p><a href="#">FASHION</a></p></div>

                        <div class="wedding">
                            <p>WEDDING FASHION</p>
                        </div>

                        <div class="trends">
                            <p>Most Recent wedding Trends</p>
                        </div>

                        <div class="pam">
                            <img src="{% static 'blog_images/pam.png' %}" alt="" />
                            <h4>PAM WRIGHTS</h4>
                            <p>July 25, 2021</p>
                        </div>

                        <!--End of food cravings-->

                        <!--beging of lovers-->

                        <div class="rec_lov"></div>

                        <div class="lovers">
                            <img src="{% static 'blog_images/food.jpg' %}" alt="" />
                        </div>

                        <div class="rec_lovers"><p><a href="#">FOOD</a></p></div>

                        <div class="forlover">
                            <p>FOOD LOVERS</p>
                        </div>

                        <div class="bright">
                            <p>Laughter is brighest where food is best </p>
                        </div>

                        <div class="pam1">
                            <img src="{% static 'blog_images/pam.png' %}" alt="" />
                            <h4>PAM WRIGHTS</h4>
                            <p>July 25, 2021</p>
                        </div>

                        <!--End of section 1-->

                        <!--beging of section 2-->

                         <div class="rec_wor"></div>

                         <div class="world">
                             <img src="{% static 'blog_images/travel.jpg' %}" alt="" />
                         </div>
 
                         <div class="rec_world"><p><a href="#">TRAVEL</a></p></div>
 
                         <div class="tworld">
                            <p>TRAVEL AROUND THE WORLD</p>
                        </div>
                         
                         <div class="wander">
                             <p>Not all who wander are lost</p>
                         </div>
 
                         <div class="pam2">
                             <img src="{% static 'blog_images/pam.png' %}" alt="" />
                             <h4>PAM WRIGHTS</h4>
                             <p>July 25, 2021</p>
                         </div>


                         <div class="rec_photo"></div>

                         <div class="photo">
                             <img src="{% static 'blog_images/photography.jpg' %}" alt="" />
                         </div>

                         <div class="rec_photography"><p><a href="#">PHOTOGRAPHY</a></p></div>
 
                         <div class="photography">
                            <p>PASSION: PHOTOGRAPHY</p>
                        </div>
                         
                         <div class="shoot">
                             <p>See it, shoot it!</p>
                         </div>

                         <div class="pam4">
                            <img src="{% static 'blog_images/pam.png' %}" alt="" />
                            <h4>PAM WRIGHTS</h4>
                            <p>July 25, 2021</p>
                        </div>

                         <!--End of section 2-->

                         <!--beging of section 3-->

                         <div class="rec_vis"></div>

                         <div class="visat">
                             <img src="{% static 'blog_images/food1.jpg' %}" alt="" />
                         </div>

                         <div class="rec_visat"><p><a href="#">FOOD</a></p></div>

                         <div class="ffo">
                            <p>FOOD LOVERS</p>
                        </div>
                         
                         <div class="lavista">
                             <p>Pasta La vista</p>
                         </div>
 
                         <div class="pam3">
                             <img src="{% static 'blog_images/pam.png' %}" alt="" />
                             <h4>PAM WRIGHTS</h4>
                             <p>July 25, 2021</p>
                         </div>

                         <div class="rec_make"></div>

                         <div class="make">
                             <img src="{% static 'blog_images/makeup.jpg' %}" alt="" />
                         </div>

                         <div class="rec_makeup"><p><a href="#">MAKEUP</a></p></div>

                         <div class="makeup">
                            <p>TRENDY MAKEUP</p>
                        </div>
                         
                         <div class="blush">
                             <p>Colour Me Blush</p>
                         </div>

                         <div class="pam5">
                            <img src="{% static 'blog_images/pam.png' %}" alt="" />
                            <h4>PAM WRIGHTS</h4>
                            <p>July 25, 2021</p>
                        </div>
                         <!--end of most recent post-->

                         <div class="stay">
                            <p>Stay in Touch</p>
                            <hr>
                        </div> 
                        <div class="email">
                            <p><a href = "mailto: email@leonardart.com">admin@webBuildr.com</a></p>
                        </div> 

                        <div class="made">
                            <p><a href="#">Made with WebBuildr</a></p>
                            <hr>
                        </div> 

                    </div>
                </nav>

            </div>
                    

        </section>
    
        </main>

        <script type="text/javascript">
            function Back() {
              history.go(-1);
            }
        </script>    
    </body>
</html>