{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/webBuildr.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>WebBuildr</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <main>
        <!-- Header Section -->
        <!-- <header class="landing-header"> -->
        <!-- <nav class="landing-nav">
          <div class="logo">
            <img src="./images/nav/logo.svg" alt="" />
          </div>
          <ul class="landing-navList">
            <li class="landing-nav-listItem">Product <span>
                <div class="dropdown-arrow">
                    <img src="./images/nav/downArrow.svg" alt="" />
                </div>
            </span> </li>
            <li class="landing-nav-listItem">Resource <span>
                <div class="dropdown-arrow">
                    <img src="./images/nav/downArrow.svg" alt="" />
                </div></li>
            <li class="landing-nav-listItem">Template</li>
            <li class="landing-nav-listItem">Hire an expert</li>
          </ul>
          <div class="landing-nav-action-btns">
            <div class="landing-nav-login">
              <a href="" class="landing-nav-login-link">LOG IN</a>
            </div>
            <button class="landing-nav-btn-primary-large">
              <a class="getting-started-link" href="">GET STARTED</a>
            </button>
          </div>
        </nav> -->
    <!-- </header> -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/nav/logo.svg' %}" alt="" />
            </div>

            <ul>
                <li>Product<span><img src="{% static 'images/nav/downArrow.svg' %}" alt="" /></span></li>
                <li>Resource<span><img src="{% static 'images/nav/downArrow.svg' %}" alt="" /></span></li>
                <li>Templates</li>
                <li>Hire an expert</li>
            </ul>

            <div class="nav-btns">
                {% if user.is_authenticated %}
                <button> <a href="{% url 'accounts:logout' %}">LOG OUT</a></button>
                {% else %}
                <button> <a href="{% url 'accounts:login' %}">LOG IN</a></button>
                {% endif %}
                <button> <a href="{% url 'accounts:signup' %}">GET STARTED</a></button>
            </div>
        </nav>
    </header>
<!-- ---------------------------------------------------------------------------- -->
        <!-- hero section -->
        <section class="hero-section">
            <!-- left hero section -->
            <div class="hero-left" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="hero-arrow">
                    <img src="{% static 'images/hero/arrow.png' %}" alt="arrow">
                    <img src="{% static 'images/hero/arrow-head.png' %}" alt="arrow-head">
                </div>
                <div>
                    <p>Further <span>Your</span> Effort <br><span>Using</span> WebBuildr.</p>
                    <p>The easiest and fastest way to build your website. <br> No coding,Zero charges</p>
                    <button onclick="getStarted()">GET STARTED</a></button>
                    
                </div>
                
            </div>
            <!-- Right hero section -->
            <div class="hero-right" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
                <img src="{% static 'images/hero/cuate.svg' %}" alt="constructor">
            </div>
        </section>

        <!-- -------------------------------------------------------------------------- -->
      
        <!-- Another Section -->
        <section class="sample-container">
            <div class="sample-wrapper">
                <h1 class="sample-text-h1">create a website in less than an hour</h1>
                <p class="sample-text-p">Check out mind-blowing templates all made with webBuildr. we’ve taken the stress off you, choose a template and make an easy build</p>
            </div>
        </section>

       <!-- Gallery -->
        <section class="gallery">
            <div class="one">
            <div class="one-one">
                <img 
                class="image-1" 
                src="{% static 'images/gallery/Desktop - 13.png' %}" alt="">
                <img 
                class="image-2" 
                src="{% static 'images/gallery/iPad Pro 11_ - 7.png' %}" alt="">
            </div>
            <img 
            class="image-3" 
            src="{% static 'images/gallery/MacBook Pro 16_ - 2.png' %}" alt="">
        </div>

        <div class="two">
            <img
            class="image-4" 
            src="{% static 'images/gallery/Screenshot (9).png' %}" alt="">
            <img
            class="image-5" 
            src="{% static 'images/gallery/iPad Pro 11_ - 4.png' %}" alt="">
        </div>

        <div class="three">
            <img 
            class="image-6" 
            src="{% static 'images/gallery/Desktop - 15.png' %}" alt="">
            <img  
            class="image-7"
            src="{% static 'images/gallery/Desktop - 26.png' %}" alt="">
        </div>

        <div class="four">
            <img 
            class="image-8" 
            src="{% static 'images/gallery/iPad Pro 11_ - 6.png' %}" alt="">
            <img class="image-9" 
            src="{% static 'images/gallery/Screenshot (9).png' %}" alt="">
        </div>

        <div class="five">
            <img class="image-10" 
            src="{% static 'images/gallery/Desktop - 7.png' %}" alt="">
            <img 
            class="image-11" 
            src="{% static 'images/gallery/iPad Pro 11_ - 4 (1).png' %}" alt="">
        </div>
        </section>
        <!-- Portfolio -->
        <section class="portfolio_section">
            <div class="portfolio_top">
                <div class="portfolio_row">
                    <div class="portfolio_img">
                        <img src="{% static 'images/portfolio/portfolio.png' %}" alt="Portfolio Image">
                    </div>
                    <div class="portfolio_text">
                        <h2 class="portfolio_h2">Portfolio</h2>
                        <p>Made with WebBuildr. create your portfolio today on a click</p>
                        <div class="portfolio_text-link">
                            <a href="#">View Template</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_row-reverse">
                    <div class="portfolio_img">
                        <img src="{% static 'images/portfolio/web-3.png' %}" alt="Web 3 Image">
                    </div>
                    <div class="portfolio_text">
                        <h2 class="portfolio_h2">Web3</h2>
                        <p>Made with WebBuildr. create your portfolio today on a click</p>
                        <a href="#">View Template</a>
                    </div>
                </div>
            </div>
            <div class="portfolio_bottom">  
                <div id="glimpse">
                    <h2>A Glimpse Of What You Can Do With WebBuildr</h2>
                </div>
                <div class="info-1 info">
                    <h3>Create a website without stress</h3>
                    <p>With the use of a large variety of template, you<br>
                        will surely find one that suits your need<br>
                    </p>
                    <hr>
                    
                </div>
                <div class="info-2 info">
                    <h3>
                    Access to tutorial videos
                    </h3>
                    <p>
                    You are granted full access to tutorial videos to <br>
                    help you navigate through and for ease website <br>
                    creation
                    </p>
                    <hr>
                    
                </div>
                <div class="info-3 info">
                    <h3>
                    Free online events
                    </h3>
                    <p>
                    You are exposed to learning basics to improve<br>
                    your workflow using WebBuildr. Itsa one-hour<br>
                    session that enables you to set up your website<br>
                    </p> 
                    <hr>
                </div>
                <div class="info-4 info">
                    <h3>
                    Hire an expert
                    </h3>
                    <p>
                    You need a professional to help you create, and <br>
                    manage your website
                    </p>
                    <hr>
                </div>
                <div class="info-5">
                    <h3>See More</h3>
                </div>
            </div>

        </section>
        <!-- Services -->
        <!-- Testimonials -->
        <section class="testimonial__section">
            <div class="testimonial__container">
                <h2 class="testimonial__h2">See what other users are saying about us</h2>
                <div class="testimonial__card-wrapper">
                    <div class="testimonial__card">
                        <div class="testimonial__card-image">
                            <img src="{% static 'images/testimonials/testimonial_1.png' %}" alt="">
                        </div>
                        <div class="testimonial__card-body">
                            <p class="testimonial__card-text-p">The tutorial videos are helpful and time worthy. I really enjoyed.</p>
                            <hr class="testimonial__hr">
                            <h4 class="testimonial__h4">Precious Develope</h4>
                        </div>
                    </div>
                    <div class="testimonial__card">
                        <div class="testimonial__card-image">
                            <img src="{% static 'images/testimonials/testimonial_2.png' %}" alt="">
                        </div>
                        <div class="testimonial__card-body">
                            <p class="testimonial__card-text-p">WebBuildr is truly the fastest and easiest website builder.You have a nice interface i must say.</p>
                            <hr class="testimonial__hr">
                            <h4 class="testimonial__h4">Dev Matthew</h4>
                        </div>
                    </div>
                    <div class="testimonial__card">
                        <div class="testimonial__card-image">
                            <img src="{% static 'images/testimonials/testimonial_3.png' %}" alt="">
                        </div>
                        <div class="testimonial__card-body">
                            <p class="testimonial__card-text-p">The tutorial videos are helpful and time worthy. I really enjoyed.</p>
                            <hr class="testimonial__hr">
                            <h4 class="testimonial__h4">Elon Musk</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Partners -->
        <section class="partners__section">
            <div class="partners__images-container">
                <img src="{% static 'images/partners/Halfday.svg' %}" alt="">
                <img src="{% static 'images/partners/BBC.svg' %}" alt="">
                <img src="{% static 'images/partners/Qapital.svg' %}" alt="">
                <img src="{% static 'images/partners/Big Fish Games (black).svg' %}" alt="">
                <img src="{% static 'images/partners/PayPal (black).svg' %}" alt="">
                <img src="{% static 'images/partners/Kroma.svg' %}" alt="">
                <img src="{% static 'images/partners/Made.svg' %}" alt="">
            </div>
            <h3 class="partners__h3">Our Partners</h3>
        </section>
        <!-- Call To Action -->
        <section class="call-to-action__section">
            <div class="call-to-action__container">
                <h2 class="call-to-action__h2">yup!!! you are in the right place</h2>
                <p class="call-to-action__p">WebBuildr enables you to create,edit,collaborate on, publish and store digital content without the help of developers. You do not need a technical skill or knowledge, it’s all made easy using WebBuildr the fastest way to kick start a managable future.</p>
                <a href="{% url 'accounts:signup' %}" class="call-to-action-btn">Create a website for free</a>
            </div>
        </section>
        <!-- faq -->
        <section class="faq__section">
            <div class="faq__container">
                <h2>faqs</h2>
                <div class="faq__item">
                    <p>How much does it cost to create a website?</p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
                <div class="faq__item">
                    <p>Do I have to code while building my website?</p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
                <div class="faq__item">
                    <p>How do I download tutorial videos?</p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
                <div class="faq__item">
                    <p>What’s the cost to have access to an expert? </p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
                <div class="faq__item">
                    <p>Are webinar sessions free?</p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
                <div class="faq__item">
                    <p>Do I have to pay to access template?</p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
                <div class="faq__item">
                    <p>Do I have to pay to have access to expert?</p>
                    <img src="{% static 'images/arrow-right.svg' %}" alt="Right Arrow">
                </div>
                <hr>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col">
                    <h3>Product</h3>
                    <p><a href="#">Designer</a></p>
                    <p><a href="#">Enterprise</a></p>
                    <p><a href="#">CMS</a></p>
                    <p><a href="#">Editor</a></p>
                    <p><a href="#">SEO</a></p>
                    <p><a href="#">Security</a></p>
                </div>
                <div class="col">
                    <h3>Community</h3>
                    <p><a href="#">Help Center</a></p>
                    <p><a href="#">About</a></p>
                    <p><a href="#">Terms of Service</a></p>
                    <p><a href="#">Cookie Policy</a></p>
                    <p><a href="#">Cookie Preference</a></p>
                </div>
                <div class="col">
                    <h3>Features</h3>
                    <p><a href="#">Template</a></p>
                    <p><a href="#">Hosting</a></p>
                    <p><a href="#">Interaction</a></p>
                    <p><a href="#">Logo Maker</a></p>
                </div>
                 <div class="col">
                    <h3>Follow</h3>
                    <p><a href="#">Twitter</a></p>
                    <p><a href="#">Instagram</a></p>
                    <p><a href="#">Linkedin</a></p>
                    <p><a href="#">Facebook</a></p>
                </div>
                <div class="col">
                    <h3>Resources</h3>
                    <p><a href="#">Tutorial videos</a></p>
                    <p><a href="#">Portfolio</a></p>
                    <p><a href="#">Hire an expert</a></p>
                    <p><a href="#">upcoming webinar</a></p>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>

<script>
    AOS.init();
    function getStarted() {
        window.location.replace("{% url 'accounts:signup' %}")
    }
  </script>
