<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">

 </head>
 <body>
   <div class="underline"></div>
    <!-- <header class="port-temp-header">
      <nav class="port-temp-navbar">
        <div class="port-temp-back">
          <p>Back</p>
          <div class="port-temp-desktop">
            <img src="./images/desktop.svg" class="port-temp-desktop-img" />
          </div>
          <div class="tablet">
            <img src="./images/tablet.svg" class="port-temp-desktop-img" />
          </div>
          <div class="phone">
            <img src="./images/phone.svg" class="port-temp-desktop-img" />
          </div>
        </div>

        <div class="port-temp-nav-btn">
          <button>Start with this Design</button>
        </div>
      </nav>
    </header> -->

    <div class="portfolio-details">
        <div class="underline"></div>
        <div class="portfolio-img">
            <div class="img1"></div>
            <div class="img2">
                <div class="img-name">
                    <h3 class="arianne">Arianne's Portfolio</h3>
                    <h1 class="product">Product Manager</h1>
                    <h3 class="solving">Solving <span> Modern Problems </span>Through Design </h3>
                </div>
                <footer>
                    Follow me on 
                    <div class="social">
                        <img src="./images/facebook.png" alt="">
                        <img class="messanger" src="./images/messanger.png" alt="">
                        <img src="./images/whatsapp.png" alt="">
                    </div>
                </footer>
            </div>
        </div>

        <div class="recent-work">
            <div class="recent">
                <h3>My Recent Work</h3>
            </div>
            <div class="recent-line"></div>
            <div class="recent-numbers">
                <div class="num1">
                    <p>80 +</p>
                    <p>Projects Completed</p>
                </div>
                <div class="num1">
                    <p>45 +</p>
                    <p>Dev Projects</p>
                </div>
                <div class="num1">
                    <p>35 +</p>
                    <p>Design Projects</p>
                </div>
                <div class="num1">
                    <p>85% +</p>
                    <p>Satisfied Clients</p>
                </div>
            </div>
        </div>

        <div class="my-story">
            <div class="story-info">
                <p>
                    I am a skilled Information Security Analyst with expertise in risk management, IT Audit, penetration testing, malware
                    analysis, and a wide range of vulnerabilities and threats. Well-versed in direct and remote analysis with strong
                    critical thinking, communication, and people skills. Able to thrive in fast-paced and challenging environments where
                    accuracy and efficiency matter. highly skilled and experienced in the domains of vulnerability assessment, vulnerability
                    management, incidence response and penetration testing
                </p>
            </div>
            <div class="story-line"></div>
            <div class="story-head">
                <h1>My STORY</h1>
                <p>My works</p>
            </div>
        </div>

        <div class="portfolio-look">
            <div class="look-head">
                <h1>Let's Take A Look at My Portfolio</h1>
                <p>ication, and people skills. Able to thrive in fast-paced and</p>
                <p>and challenging environments where accuracy and</p>
            </div>


            <div class="blue-div">
                    <div class="blue-details1">
                        <img class="check-img" src="./images/Rectangle_113.png" alt="">
                        <p class="first-p">
                            Adura depicts ral arts
                        </p>
                        <p class="first-p">in France, Greece, Tu</p>
                    </div>

                    <div class="blue-details2">
                        <img class="check-img" src="./images/Rectangle_112.png" alt="">
                        <p class="second-p">
                            Adura depicts ral arts
                        </p>
                       <p class="second-p">in France, Greece, Tu</p>
                    </div>

                    <div class="blue-details3">
                        <img class="check-img" src="./images/Rectangle_114.png" alt="">
                        <p class="third-p">
                            Adura depicts ral arts
                        </p>
                    <p class="third-p">in France, Greece, Tu</p>
                    </div>

            </div>


            <div class="blue-div">
                <div class="blue-details4">
                    <img class="check-img" src="./images/Rectangle_117.png" alt="">
                    <p class="first-p">
                        Adura depicts ral arts
                    </p>
                    <p class="first-p">in France, Greece, Tu</p>
                </div>
            
                <div class="blue-details5">
                    <img class="check-img" src="./images/Rectangle_116.png" alt="">
                    <p class="second-p">
                            Adura depicts ral arts
                        </p>
                       <p class="second-p">in France, Greece, Tu</p>

                       <button class="view-more"> View More...</button>
                </div>
            
                <div class="blue-details6">
                    <img class="check-img" src="./images/Rectangle _18.png" alt="">
                    <p class="third-p">
                        Adura depicts ral arts
                    </p>
                    <p class="third-p">in France, Greece, Tu</p>
                </div>
            
            </div>

        </div>

        <div>
            <h1 class="best-brand">Working with the best brand</h1>
        </div>

        <div class="client-body">
            <div class="client-say">
                <h1>What Our Clients Say</h1>
                <p>I seek to push the limits of creativity to create high enguagin user friendly UI/UX Designs.</p>
            </div>

            <div class="client-image">
                <div class="client-img1">
                    <img src="./images/Frame 122 (1).png" alt="">
                    <img src="./images/Frame 122.png" alt="">
                </div>
            </div>

        </div>

        <div class="got-project">
            <div class="div-1">
                <p>Got a project? Let"s Talk</p>

                 <form class="form">
                    <label for="Full Name">Full Name</label>
                    <input type="text" 
                    name="fullname" 
                    placeholder="John Doe">

                    <label for="Email">Email</label>
                    <input type="text" name="email" placeholder="Your email" class="mail">

                    <textarea name="area" id="area" cols="40" rows="10"></textarea>

                    <button class="msg">Send Message</button>
                </form>

            </div>
            
            <div class="div-2">
                <p class="div-21">I seek to push the limits of creativity to create high enguagin user friendly UI/UX Designs, memorable and interactive
                expiriences</p>
                <p class="div-22">webBuildr@hotmail.com</p>
            </div>
        </div>

        <div class="lets-connnect">
            <h1 class="connect-head">Let's Connect Here</h1>
            <div class="connect-socials">
                <div class="socials1">
                    <p>Facebook</p>
                    <img src="./images/Ellipse 25.png" alt="">
                </div>
                <div class="socials1">
                    <p>Instagram</p>
                    <img src="./images/Ellipse 26.png" alt="">
                </div>
                <div class="socials1">
                    <p>Behance</p>
                    <img src="./images/Ellipse 29.png" alt="">
                </div>
            </div>


            <div class="connect-socials">
                <div class="socials1">
                    <p>Twitter</p>
                    <img src="./images/Ellipse 27.png" alt="">
                </div>
                <div class="socials1">
                    <p>Google</p>
                    <img src="./images/Ellipse 24.png" alt="">
                </div>
                <div class="socials1">
                    <p>LinkedIn</p>
                    <img src="./images/Ellipse 28.png" alt="">
                </div>

            </div>
        </div>

        <div class="social-underline"></div>

        <div class="last-div">
            @copyright&copy;2022
            <div class="last-underline"></div>
            <p class="last-p">Made with WebBuildr</p>
        </div>

    </div>

</body>
</html>